@charset "utf-8";
/* CSS 重置 */
body, div, p, h1, h2, h3, h4,
ul, li, dl, dt, dd, ol, form, table, tr, td,
span, label, input, select, option, a, img, i,
em, strong, b {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #333333;
}

body {
    font-family: "微软雅黑";
    color: #000;
    margin: 0 auto;
    font-size: 0.3rem; /*body里默认使用最多的字体大小*/
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}

.box{ width: 420px; height: 400px; margin: 0 auto; border: #8d7c7c 1px solid;}
.screen input{ width: 354px; height:64px; border-radius:10px;  margin:24px 0 0 34px;background: #cd2727;  border: 0 none; text-align: right; color: #fff; font-size: 20px;}
.button input{width: 100%; height: 100%; border-radius: 8px;background: #8d7c7c; color: #fff;
    border: 0 none;}
.button{margin-left: 22px;}
.button li{float: left; width: 52px; height: 52px;margin-left: 20px; margin-top: 20px; text-align: center;}
